@import '~src/variables';

.pagination-custom {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  margin-left: -4px;
  margin-right: -4px;
  & > li {
    margin-left: 4px;
    margin-right: 4px;
  }
  &__button {
    color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: $accent-color;
    border-color: $accent-color;
    font-weight: 700;
    box-shadow: none;
    border-radius: 3px;
    &--controls {
      background-color: adjust_hue(rgba($accent-color, .12), -10);
      border-color: adjust_hue(rgba($accent-color, .12), -10);
      color: black;
    }
    &[disabled] {
      opacity: .5;
    }
    &.active {
      background-color: red;
      border-color: red;
    }
  }
}
